.AlbumList {
    margin-top: 50px;
}

.AlbumDetail {
    display: grid;
    grid-gap: 20px 40px;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(80px, auto);

    width: 70%;
    height: 80px;
    box-shadow: 0 1px 3px 0 #e7e7e7;
    background-color: #FFF;
    margin: 10px auto;
    padding: 10px;
    line-height: 80px;
}
.AlbumDetail *{
    display: inline-block;
}

.image {
    object-fit: contain;
    height: 100%;
    border-radius: 5px;
}
.imageDiv {
    position: relative;
    height: 80%;
    margin: 10px 0 10px 10px;
    float: left;
    width: 100%;
}

.basicInfo {
    position: relative;
    line-height: 100%;
    /* display: inline-block; */
    margin: 20px 0;
    height: 70%;
    width: 90%;
    float: left;
    grid-column-start: 2;
    grid-column-end: 6;
}
.title, .artist {
    display: block;
    margin-left: -20px;
    width: 120%;
}
.title {
    max-height: 30px;
    font-weight: bold;
    /* font-size: 1.125rem; */
}
.artist {
    margin-top: 10px;
    font-size: 0.75rem;
}

.releaseDate {
    grid-column-start: 6;
    grid-column-end: 8;
    font-size: 0.875rem;
}
.price {
    grid-column-start: 8;
    grid-column-end: 9;
    font-size: 0.875rem;
}
.markFavoriteButton {
    grid-column-start: 9;
    grid-column-end: 11;

    background-color: #13d6ea;
    border: none;
    border-radius: 3px;
    color: #FFF;
    padding: 5px 15px;
    margin: 25px 0;
    width: 100%;
    height: 30px;
    font-size: 0.7rem;
}
.markFavoriteButton:hover {
    cursor: pointer;
}
.removeFavoriteButton {
    grid-column-start: 9;
    grid-column-end: 11;

    background: transparent;
    border: none;
    border-radius: 3px;
    color: #13d6ea;
    padding: 5px 15px;
    margin: 25px 0;
    width: 100%;
    height: 30px;
    font-size: 0.7rem;
    text-decoration: underline;
}
.removeFavoriteButton:hover {
    cursor: pointer;
}

.grayText {
    color: #a0a0a0;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

a:link {
    text-decoration: none;
}

.noResults {
    position: relative;
    margin: 0 auto;
    width: 70%;
}

@media only screen and (max-width: 1200px){
    .releaseDate{
        display: none;
        width: 0px;
    }
    .basicInfo {
        width: 180%;
    }
    .markFavoriteButton {
        height: 60px;
        margin: 15px 0;
        padding: 5px 0px;
    }
    .title {
        width: 100%;
    }
}